.root {
    font-size: 1.3rem;
    display: inline-block;
    background: #f55b44;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    border: .1rem solid #f55b44;
    font-weight: 700;
    margin-bottom: 6px;
    margin-top: 1.5rem;
    letter-spacing: .02rem;
    border-radius: .375rem;
    transition: color .2s ease, background .2s ease
}

.root:hover {
    background: #fff;
    color: #f55b44
}